@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Ravi+Prakash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background: rgba(78, 226, 40, 0.72); */
}
header{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    background: #6ddccfb3
}
 ul{
    list-style: none;
    
}
ul li{
    display: inline;
    margin: 10px;
    padding: 10px 20px;
    background-color: #d6b0b1;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: #eae8f3;
    font-size: 24px;
    font-weight: 300;
    font-family: 'Satisfy', cursive;

}
ul li a:hover{
    color: #d6b0b1;
    
}
ul li:hover{
    background-color: #eae8f3;
    
    
}



.logo img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 10px;
}
nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: auto;
    width: 50%;
}

section{
    width: 100%;
    height: 700px;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/fotos/libro\ con\ flor.jpg);
    background-size: cover;
    background-repeat: no-repeat;



}
section article{
    width: 50%;
    height: auto;
    background-color: rgba(255, 182, 193, 0.563);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
section article h4{
    text-align: center;
    margin: 20px;
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
    
   

text-transform: uppercase;
color: rgb(41, 41, 39);


}
p{
    padding: 10px;
    text-align: center;
    font-size: 20px;
    line-height: 33px;
    letter-spacing: 1px;
}
.sec{
    width: 100%;
    height: 100vh;
    background-color: aqua;
    background-image: url(/fotos/cafe\ con\ tostadas.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}
.sec .notas{
    width: 100%;
    height: 500px;
    margin: 12px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;


}
.sec .notas .art{
    width:400px;
    height: 400px;
    margin: 12px;

}
.sec .subtitulo{
    width: 50%;
    height: auto;
    background-color: rgb(228, 40, 68);
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.sec .subtitulo h2{
    font-family: 'Dancing Script', cursive;
    color: white;
    text-transform: capitalize;
    padding: 10px 0px;
    font-size: 35px;


}
.notas .art .img{
    width: 100%;
    height: auto;
    text-align: center;
}
.art p{
    color: #eae8f3;
    
}